#search-box {
  font-family: Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 400px;
  height: 50px;
  border-radius: 8px;
  border: 0.68px solid #505050;
  margin: 20px;
  padding: 0 15px;
}

#artistSearch {
  outline: none;
  background: transparent;
  caret-color: white;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: none;
  padding-left: 60px;
  padding-right: 45px;
  font-size: 18px;
  box-sizing: border-box;
}

#search-icon {
  position: absolute;
  width: 25px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#search-icon:hover,
#clear-button:hover,
#enter-button:hover {
  transform: translateY(-50%) scale(1.1);
}

#search-input:focus ~ #search-icon,
#search-input:focus ~ #enter-container #search-icon {
  opacity: 0.5;
}

#clear-button,
#enter-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
}

#clear-button {
  right: 50px;
}

#enter-button {
  right: 5px;
}

#search-icon:hover,
#clear-button:hover,
#enter-button:hover {
  transform: translateY(-50%) scale(1.2);
  transition: transform 0.5s ease;
}

@media (max-width: 600px) {
  #search-box {
    width: 90%;
  }

  #artistSearch {
    padding-left: 40px;
    font-size: 16px;
  }

  #search-icon,
  #clear-button,
  #enter-button {
    width: 20px;
    height: 20px;
  }

  #clear-button {
    right: 35px;
  }

  #enter-button {
    margin-right: 20px;
    margin-top: -12px;
  }

  .scroll-left,
  .scroll-right {
    display: none;
    position: absolute;
  }
}
